# 📦 Depandans (Sa pa dwe janm moute)
node_modules/
jspm_packages/
web_modules/

# 🛠️ Dosye Konpilasyon (Build outputs)
dist/
build/
.next/
.out/

# 🤫 Sekirite ak Kle Sekrè (Pa janm moute .env ou sou GitHub!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 💻 Dosye Editè ak Sistèm
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
.vercel



prisma/
wallet/
global/
firebase/
microservices/
docker/
infrastructure/
scripts/
tests/
docs/

